name: build

on:
  pull_request:
    types: [opened]
    paths-ignore:
      - "**.md"

jobs:
  echo:
    if: github.head_ref != 'l10n_master'
    name: test echo action

    runs-on: ubuntu-latest

    steps:
      - name: Echo
        run: echo "Test running!"